.login {
    width: 100%;
}

.login .loginform {
    width: 50%;
    margin: 20vh auto;
}

.login .loginform input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 1vh;
    font-size: 1.2vw;
}

.login .loginform label {
    font-size: 2vw;
}

.login .loginform input[type=submit] {
    float: right;
    width: 45%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 1vh;
    font-size: 1.2vw;
}

.login .loginform input[type=submit]:hover {
    background-color: brown;
}