.tableBorder {
    border: 5px solid rgb(36, 35, 35);
    border-radius: 10px;
    background-color: rgb(160, 152, 152);
}

.icon {
    cursor: pointer;
    margin: 0 0.3vw;
    font-size: 1vw;
}

.footer {
    display: flex;
    width: 100%;
    overflow: auto;
}

.footer div {
    margin: 0.1vw 1vw;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}

.footer .icon {
    font-size: 1.2vw;
    color: white;
}

.footer .pageIndex {
    background-color: brown;
}

.inTableCheckbox {
    margin-left: 30%;
}